{% extends 'plantilla_base.html' %}
{% load static %}
{% block content %}

<form method = "POST"> 
  {% csrf_token %}
  <!-- pagina prototipo de WIX: https://standensolar.wixsite.com/website-5 -->
        <div class = "personas">
            <div class = "capa-titulo">
                <div id="horas" class="horas">
                <p>Contacto</p> 
                </div>
            </div>
        </div>

        <div class="contenedor_contacto">
             <div class="grid_contacto">
                <form>

                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                  </div>

                  <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" class="form-control" id="correo" onblur="return validaemail()" required>
                  </div>

                  <div class="form-group">
                    <label for="celular">Nº Celular:</label>
                    <input type="text" class="form-control" id="celular" onblur="return valida_fono()" required>
                  </div>

                  <div class="form-group">
                    <label for="temainteres">¿En que estás interesado?:</label>
                    <select name="temainteres" class="form-control" id="temainteres">
                        {% for c in tema_interes %}
                            <option value ={{forloop.counter0}}>{{c}}</option>
                        {% endfor %}      
                    </select>
                  </div>

                   <span style="color:red;" id="error-span"><b></b></span>


                  <button class="form-control" id="boton-aceptar">Enviar</button>
                </form>
            </div>
        </div>        
    </div>  <!-- personas -->
</form> 
{% endblock %}          
