{% extends 'plantilla_base.html' %}
{% load static %}
{% block content %}

<form method = "POST" action="" onsubmit="return val_eligio()"> 
  {% csrf_token %}

<!-- pagina de WIX: https://standensolar.wixsite.com/website-5 -->
  <!-- IMAGENES DE TODAS LAS PROMOS -->
  <div  class = "personas"> 
      <div class = "capa-titulo">    
          <div id="fantasma"></div>  

          <div id="horas" class="horas">
            <p>Asesoria, Diseño e instalación de Sistemas Fotovoltáicos y Termosolares</p>
          </div>

          <div class = "cerrar_sesion">
           {% if request.user.is_staff %}
              <div id="cerrar">
                <u align="right"><a href="{% url 'log_out' %}">Cerrar sesion</a></u>
              </div>
          {% else %}
              <a></a>
          {% endif %}
          </div>
      </div>
      
      <div class="que_necesitas">
          <span>¿ Qué necesitas ?</span>
      </div>  

      <div class="solucion_para">
          <span>Hay una solucion para cada necesidad</span>
      </div>  


      <div class="contenedor">
          <div class="grid_chica">
              <img src="/static/img/redondo1.jpg" />
              <span>Sistema de Bombeo Solar</span>
          </div>

          <div class="grid_chica">
            <img src="/static/img/redondo2.jpg" />
            <span>Sistemas Solares Termicos</span>
          </div>

          <div class="grid_chica">
            <img src="/static/img/redondo3.jpg"/>
            <span>Sistemas Solares Fotovoltaicos</span>            
          </div>
      </div>
 
      <div class="placa_solar" id ="placa_solar">
          <img src="/static/img/placa_solar.jpg" />
      </div>  
  
      <!-- Set de fotografias -->
      <div class="contenedor">  
          <article class="persona__columna">
              <a title="promo de 20">
                <img src="/static/img/fig1.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30">
                <img src="/static/img/fig2.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30">
                <img src="/static/img/fig3.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 40">
                <img src="/static/img/fig4.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 50">
                <img src="/static/img/fig5.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 60">
                <img src="/static/img/fig6.jpg" />
              </a>
          </article>

          <div>
          {% if var_valor1 != 0 %}  
            <p href="#" onclick="oculta_muestra()" class="btn btn-primary" id="disparador" title ="si quiere cambios">Ver más</p>
          {% endif %}
        </div>
    
        <div id="c1" class="c1" style="display:none" >
          <article class="persona__columna">
              <a title="promo de 60">
                <img src="/static/img/fig6.jpg" />
              </a>
          </article>

        </div>




      </div> <!--FIN contendor de fotos -->

  </div>  <!-- personas -->

</form> 
{% endblock %}          
