{% extends 'plantilla_base.html' %}
{% load static %}
{% block content %}

<form method = "POST"> 
  {% csrf_token %}
  <!-- En consola: ngrok http 8000 -->
  <!-- Se invoca como: http://458f6b3730a5.ngrok.io/login_ini/ -->
  <!-- En settings.py: ALLOWED_HOSTS = ['127.0.0.1','localhost','3d92bfc26cc4.ngrok.io'] -->

  <!-- pagina prototipo de WIX: https://standensolar.wixsite.com/website-5 -->
  <div class = "personas"> 
      <div class = "capa-titulo">    
          <!-- <div id="fantasma"></div>  -->
          <div class="cerrar_sesion">
              {% if request.user.is_staff %}
                <u><a href="{% url 'log_out' %}">Cerrar sesion</a></u>
              {% else %}
                <a></a>
              {% endif %}
          </div>
          <div id="horas" class="horas">
              <p>La Energía Limpia del Futuro</p>
          </div>
      </div>
      
      <div class="que_necesitas">
          <span>¿ Qué necesitas ?</span>
      </div>  

      <div class="solucion_para">
          <span>Hay una solucion para cada necesidad</span>
      </div>  

      <div class="contenedor">
          <div class="grid_chica">
              <img src="{{path_static_img}}redondo1.jpg"/>
              <span class="subtit_rojo">Sistema de Bombeo Solar</span>
              <span class="subtit">Pozos, Estanques y Riegos</span>
          </div>

          <div class="grid_chica">
              <img src="{{path_static_img}}redondo2.jpg" />
              <span class="subtit_rojo">Sistemas Solares Termicos</span>
              <span class="subtit">Agua Caliente Sanitaria y Piscinas</span>
          </div>

          <div class="grid_chica">
              <img src="{{path_static_img}}redondo3.jpg"/>
              <span class="subtit_rojo">Sistemas Solares Fotovoltaicos</span>    
              <span class="subtit">Ahorro (On Grid) y Respaldo (Off Grid)</span>        
          </div>
      </div>
 
      <div class="placa_solar">
          <figure>
            <img class="img-fluid rounded d-block m-l-none" src="{{path_static_img}}placa_solar.jpg"/>
          </figure>
      </div>  

  
      <!-- Set de fotografias ---------------------------------------------------------------->
      <div class="contenedor2">      
          <div class="persona__columna">
              <a title="fig1">
               <img src="{{path_static_img}}fig1.jpg" id="fig1" onclick="return clic_foto('fig1','{{fig1txt}}')"/>
              </a>
          </div>

          <article class="persona__columna">
              <a title="fig2">
               <img src="{{path_static_img}}fig2.jpg" id="fig2" onclick="return clic_foto('fig2','{{fig2txt}}')"/>
              </a>
          </article>

          <article class="persona__columna">
              <a title="fig3">
              <img src="{{path_static_img}}fig3.jpg" id="fig3" onclick="return clic_foto('fig3','{{fig3txt}}')"/>
              </a>
          </article>

          <article class="persona__columna">
              <a title="fig4">
              <img src="{{path_static_img}}fig4.jpg" id="fig4" onclick="return clic_foto('fig4','{{fig4txt}}')"/>
              </a>
          </article>

          <article class="persona__columna">
              <a title="fig5">
              <img src="{{path_static_img}}fig5.jpg" id="fig5" onclick="return clic_foto('fig5','{{fig5txt}}')"/>
              </a>
          </article>

          <article class="persona__columna">
              <a title="fig6">
              <img src="{{path_static_img}}fig6.jpg" id="fig6" onclick="return clic_foto('fig6','{{fig6txt}}')"/>
               </a>
          </article>
      </div>    

      <div> 
          <a type="button" onclick="oculta_muestra()" id="disparador" class="buttonCSS">Ver más / Oculta</a>
      </div>

      <!-- onclick="oculta_muestra()" -->

      <div id="contenedor2" class="contenedor2" style="display: none;">
          <!-- <div class="subgrid1"> -->
              <div>
                <a title="fig7" id="c1">
                <img src="{{path_static_img}}fig7.jpg" id="fig7" onclick="return clic_foto('fig7','{{fig7txt}}')"/>
                  </a>
              </div>
    
              <div>
                <a title="fig8" id="c2">
                <img src="{{path_static_img}}fig8.jpg" id="fig8" onclick="return clic_foto('fig8','{{fig8txt}}')"/>
               </a>
              </div>
    
              <div>
                  <a title="fig9" id="c3">
              <img src="{{path_static_img}}fig9.jpg" id="fig9" onclick="return clic_foto('fig9','{{fig9txt}}')"/>
                  </a>
              </div>

              <div>
              <a title="fig10">
              <img src="{{path_static_img}}fig10.jpg" id="fig10" onclick="return clic_foto('fig10','{{fig10txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig11">
              <img src="{{path_static_img}}fig11.jpg" id="fig11" onclick="return clic_foto('fig11','{{fig11txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig12">
              <img src="{{path_static_img}}fig12.jpg" id="fig12" onclick="return clic_foto('fig12','{{fig12txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig13">
              <img src="{{path_static_img}}fig13.jpg" id="fig13" onclick="return clic_foto('fig13','{{fig13txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig14">
              <img src="{{path_static_img}}fig14.jpg" id="fig14" onclick="return clic_foto('fig14','{{fig14txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig15">
              <img src="{{path_static_img}}fig15.jpg" id="fig15" onclick="return clic_foto('fig15','{{fig15txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig16">
              <img src="{{path_static_img}}fig16.jpg" id="fig16" onclick="return clic_foto('fig16','{{fig16txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig17">
              <img src="{{path_static_img}}fig17.jpg" id="fig17" onclick="return clic_foto('fig17','{{fig17txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig18">
              <img src="{{path_static_img}}fig18.jpg" id="fig18" onclick="return clic_foto('fig18','{{fig18txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig19">
              <img src="{{path_static_img}}fig19.jpg" id="fig19" onclick="return clic_foto('fig19','{{fig19txt}}')"/>
              </a>
              </div>

              <div>
              <a title="fig20">
              <img src="{{path_static_img}}fig20.jpg" id="fig20" onclick="return clic_foto('fig20','{{fig20txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig21">
              <img src="{{path_static_img}}fig21.jpg" id="fig21" onclick="return clic_foto('fig21','{{fig21txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig22">
              <img src="{{path_static_img}}fig22.jpg" id="fig22" onclick="return clic_foto('fig22','{{fig22txt}}')"/>
              </a>
              </div>
    
              <div>
              <a title="fig23">
              <img src="{{path_static_img}}fig23.jpg" id="fig23" onclick="return clic_foto('fig23','{{fig23txt}}')"/>
              </a>
              </div>
          <!--</div> fin capa de grid2 -->
      </div> <!--FIN contendor de fotos etapa 2 -->
  </div>  <!-- personas -->
</form> 
{% endblock %}          
