{% extends 'plantilla_base.html' %}
{% load static %}
{% block content %}

<form method = "POST" action="" onsubmit="return val_eligio()"> 
  {% csrf_token %}

<!-- pagina prototipo de WIX: https://standensolar.wixsite.com/website-5 -->
  <!-- IMAGENES DE TODAS LAS PROMOS -->
  <div  class = "personas"> 
      <div class = "capa-titulo">    
          <div id="fantasma"></div>  

          <div id="horas" class="horas">
            <p>La Energía limpia del Futuro</p>
          </div>

          <div class = "cerrar_sesion">
           {% if request.user.is_staff %}
              <div id="cerrar">
                <u align="right"><a href="{% url 'log_out' %}">Cerrar sesion</a></u>
              </div>
          {% else %}
              <a></a>
          {% endif %}
          </div>
      </div>
      
      <div class="que_necesitas">
          <span>¿ Qué necesitas ?</span>
      </div>  

      <div class="solucion_para">
          <span>Hay una solucion para cada necesidad</span>
      </div>  

      <div class="contenedor">
          <div class="grid_chica">
              <img src="{{path_static_img}}redondo1.jpg"/>
              <span class="subtit_rojo">Sistema de Bombeo Solar</span>
              <span class="subtit">Pozos, Estanques y Riegos</span>
          </div>

          <div class="grid_chica">
            <img src="{{path_static_img}}redondo2.jpg" />
            <span class="subtit_rojo">Sistemas Solares Termicos</span>
            <span class="subtit">Agua Caliente Sanitaria y Piscinas</span>
          </div>

          <div class="grid_chica">
            <img src="{{path_static_img}}redondo3.jpg"/>
            <span class="subtit_rojo">Sistemas Solares Fotovoltaicos</span>    
            <span class="subtit">Ahorro (On Grid) y Respaldo (Off Grid)</span>        
          </div>
      </div>
 
      <div class="placa_solar" id ="placa_solar">
          <img src="{{path_static_img}}placa_solar.jpg" />
      </div>  
  
      <!-- Set de fotografias --------------------------------------------->
      <div class="contenedor">  
          <article class="persona__columna">
              <a title="promo de 20">
                <!-- <img src="/static/img/fig1.jpg"/> -->
                <img src="{{path_static_img}}fig1.jpg"/>
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30">
                <img src="{{path_static_img}}fig2.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 30">
                <img src="{{path_static_img}}fig3.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 40">
                <img src="{{path_static_img}}fig4.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 50">
                <img src="{{path_static_img}}fig5.jpg" />
              </a>
          </article>

          <article class="persona__columna">
              <a title="promo de 60">
                <img src="{{path_static_img}}fig6.jpg" />
              </a>
          </article>

          <div>
            <p href="#" onclick="oculta_muestra()" id="disparador" class="btn btn-primary" title ="si quiere cambios">Ver más</p>
          </div>
    
          <article class="persona__columna" id="c1" style="display: none;">
              <a title="promo de 60">
                <img src="{{path_static_img}}fig6.jpg" />
              </a>
          </article>

          <article class="persona__columna" id="c2" style="display: none;">
              <a title="promo de 60">
                <img src="{{path_static_img}}fig1.jpg" />
              </a>
          </article>
      </div> <!--FIN contendor de fotos -->
  </div>  <!-- personas -->

</form> 
{% endblock %}          
